<div class="pai">
    <div class="foto">
        <div class="bola">TH</div>
    </div>
    <div class="dados">
        <div class="up">
            <div class="nome">Thiago Henrique</div>
            <div class="hora">
                <div class="container-hora">11:00</div>
                <div class="container-marcador">
                    <div class="marcador-vermelho">
                        &nbsp;
                    </div>
                </div>
                
            </div>
        </div>
        <div class="down">
            <div class="container-mensagem">
                Olá, meu nome não é Jonhy
            </div>
            <div class="container-pin">
                <div class="pin">
                    <div class="bola">
                        3
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>