.fundo-sidebar{
    background-color: #212b35;
}

.sidebar{
    width: 15%;
    background-color: #212b35;
}

.conteudo{
    width: 85%;
    padding: 15px;
}

.content{
    display: flex;
   height: calc(100vh - 80px);
}